html,body{
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
font-family: sans-serif;
text-align: center;
  background-image:radial-gradient(circle 55px ,white 5%,#407BA0 90%,black );
}
h1,h3{
  color: white;
}
.nubes,.mapa{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.nubes{
  width: 90px;
  height: 90px;
  /*outline: 1px solid red;*/
}

.nubes img{
  position: relative;
  z-index: 20;
  width: 90px;
  height: 90px;
}

.mapa{
  width: 90px;
  height: 90px;
  background-color: lightblue;
  top: 0%;
  right: 0%;
  border-radius: 50%;
  box-shadow: -30px -20px 0 0 rgba(0,0,0,.15) inset,
              -70px -30px 0 0 rgba(0,0,0,.1) inset,
              5px 5px 0 0 rgba(255,255,255,.2) inset;
  background: url(../img/mapa.png);
  background-size: cover;
  -webkit-animation: tierra-girando 5s infinite linear;
}

@-webkit-keyframes tierra-girando{
  from{
    background-position:  left center;
  }
  to{
    background-position:  -137px center;
  }
}

.estrella{
  width:2px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  box-shadow: 0 0 3px 3px rgba(255,255,255,.3);
}
.estrella:nth-child(1){
  top: 30%;
  left: 50%;
}
.estrella:nth-child(2){
  top: 90%;
  left:90%;
}
.estrella:nth-child(3){
  top: 90%;
  left: 20%;
}
.estrella:nth-child(4){
  top: 33%;
  left: 70%;
}
.estrella:nth-child(5){
  top: 20%;
  left: 60%;
}
.estrella:nth-child(6){
  top: 10%;
  left: 50%;
}
.estrella:nth-child(10){
  top: 60%;
  left: 10%;
}
.estrella:nth-child(7){
  top: 30%;
  left: 90%;
}
.estrella::nth-child(8){
  top: 20%;
  left: 10%;
}
.estrella::nth-child(9){
  top: 60%;
  left: 75%;
}
.estrella:nth-child(11){
  top: 25%;
  left: 75%;
}
.estrella:nth-child(12){
  top: 30%;
  left:30%;
}
.estrella:nth-child(13){
  top: 10%;
  left: 90%;
}
.estrella:nth-child(14){
  top: 70%;
  left: 33%;
}
.estrella:nth-child(15){
  top: 60%;
  left: 20%;
}
.estrella:nth-child(16){
  top: 55%;
  left: 20%;
}
.estrella:nth-child(20){
  top: 10%;
  left: 60%;
}
.estrella:nth-child(17){
  top: 90%;
  left: 30%;
}
.estrella::nth-child(18){
  top: 10%;
  left: 20%;
}
.estrella::nth-child(19){
  top: 75%;
  left: 60%;
}

.estrella:nth-child(2n){
  -webkit-animation: estrella-par 3s infinite;
}

@-webkit-keyframes estrella-par{
  0% , 90%{
    box-shadow: 0 0 3px 3px rgba(255,255,255,.3);
  }
  100%{
    box-shadow: 0 0 16px 16px rgba(255,255,255,.3);
  }
}

.estrella:nth-child(2n+1){
  -webkit-animation: estrella-impar 4s infinite;
}

@-webkit-keyframes estrella-impar{
  0%, 35%, 50%{
    box-shadow: 0 0 3px 3px rgba(255,255,255,.3);
  }
  45%{
    box-shadow: 0 0 16px 16px rgba(255,255,255,.3);
  }
}

.estrella:nth-child(7n+1){
  -webkit-animation: estrella-i 3s infinite;
}

@-webkit-keyframes estrella-i{
  0%, 35%, 50%{
    box-shadow: 0 0 3px 3px rgba(255,255,255,.3);
  }
  45%{
    box-shadow: 0 0 16px 16px rgba(255,255,255,.3);
  }
}

.estrella:nth-child(4n+3){
  -webkit-animation: estrella-k 5s infinite;
}

@-webkit-keyframes estrella-k{
  0%, 35%, 50%{
    box-shadow: 0 0 3px 3px rgba(255,255,255,.3);
  }
  45%{
    box-shadow: 0 0 16px 16px rgba(255,255,255,.3);
  }
}

.estrella:nth-child(n*3){
  -webkit-animation: estrella-f 2s infinite;
}

@-webkit-keyframes estrella-f{
  0%, 35%, 50%{
    box-shadow: 0 0 3px 3px rgba(255,255,255,.3);
  }
  45%{
    box-shadow: 0 0 16px 16px rgba(255,255,255,.3);
  }
}

.estrella:nth-child(n*6){
  -webkit-animation: estrella-j 3s infinite;
}

@-webkit-keyframes estrella-j{
  0%, 35%, 50%{
    box-shadow: 0 0 3px 3px rgba(255,255,255,.3);
  }
  45%{
    box-shadow: 0 0 16px 16px rgba(255,255,255,.3);
  }
}
/*box-shadow: 0 0 16px 16px rgba(255,255,255,.3);*/
